.aboutUs {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
  min-height: 100%;
  background-color: #f0f8ff;
}

.aboutContainer:nth-child(2) .infoContainer {
  order: 1;
}

.aboutContainer {
  width: 100%;
}
.aboutUs h2 {
  color: #ffbe18;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: white;
  height: 100%;
  overflow: hidden;
  border: 1px solid #bdc9c0;
  box-shadow: var(--box-shadow);
  margin: 50px 0;
}
.aboutContainer p {
  border: 2px solid #ffbe18;
  text-align: justify;
  padding: 5px;
  border-radius: 10px;
  width: 90%;
  transition: all 0.2s ease-in-out;
}
.aboutContainer p:hover {
  transform: scale(1.1);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.images {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-top: 20px;
  justify-content: center;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer img {
  width: 75%;
  border: 2px solid #ffbe18;
  border-radius: 10px;
  object-fit: cover;
}
.infoContainer span {
  font-weight: bold;
}
.infoContainer h2 {
  text-align: center;
}

.imgContainer span {
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  color: white;
}

.introduction .card img {
  object-fit: cover;
  object-position: 0px 0px;
}
.introduction .card p {
  border: none;
}

.introduction h2 {
  text-align: center;
  margin-bottom: 20px;
}
.introduction span {
  background: #112437;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
}
.personCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}
.personCards .MuiPaper-root {
  margin: 10px;
}
.MuiPaper-root:nth-child(3) .MuiCardMedia-root {
  object-position: 0px -10px;
}

.css-r40f8v-MuiTypography-root{
  color: red;
}

.MuiCardActions-root {
  display: flex;
  justify-content: center;
}

.thanks-message {
  background-color: #112437;
  padding: 10px;
  line-height: 2.5;
}
.thanks-message h3 {
  color: white;
  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .images {
    gap: 5px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    place-items: center;
    margin-top: 2rem;
  }

  .aboutContainer:nth-child(2) .infoContainer {
    order: 0;
  }
  .about p {
    width: 80%;
  }
  .personCards {
    grid-template-columns: repeat(3, 1fr);
  }
  .imgContainer img {
    width: 100%;
  }
}

@media only screen and (max-width: 825px) {
  .about {
    grid-template-columns: repeat(1, 1fr);
  }
  .images {
    gap: 5px;
    overflow-x: scroll;
    margin-top: 5px;
  }
  .about {
    width: 100%;
    height: auto;
  }
  .about p {
    width: 90%;
  }
  .personCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .images {
    gap: 5px;
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
  }

  .imgContainer img {
    width: 320px;
    height: 150px;
    margin-top: 10px;
  }
  p {
    width: 95%;
  }
  .aboutUs {
    align-items: start;
    overflow-y: scroll;
    margin-top: -100px;
  }
  .aboutUs h1 {
    font-size: 1.5rem;
  }

  .about h1 {
    width: 90%;
  }
  p:hover {
    transform: scale(1);
  }
  .personCards {
    grid-template-columns: repeat(1, 1fr);
  }
}